.login-head{
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
  }
  
  .btn-dsign .btn{
    font-size: x-large;
    padding: 2px;
  }
  .form-label{
    font-size: 20px;
  }
/* register */

